.tittle
    width: 100%
    color: red
    height: 100%
    margin-left: 8%

#logo img
    width: 5%
    height: 30%
    margin-left: 2%

#logo
    margin-right: 250px

.logo-img
    width: 50%
    border-radius: 8px
    height: 80px