<body>
  <div id='container-instrucciones'>
    <h2>Instrucciones de juego</h2>
    <p>Trata de encontrar los barcos </p>
   
    <ul>
      <li>5 Lanchas de 1 casilla</li>
      <li>3 Buques de 3 casillas horizontales</li>
      <li>1 Acorazado de 4 casillas horizontales</li>
      <li>1 Portaaviones de 5 casillas verticales</li>
    </ul>

    
  </div>  
  

    <table class="table">
      <tr>
        <a><td>A</td></a>
        <a><td>B</td></a>
        <a><td>C</td></a>
        <a><td>D</td></a>
        <a><td>F</td></a>
        <a><td>G</td></a>
        <a><td>H</td></a>
        <a><td>I</td></a>
      </tr>
      <tr>
        <a><td> 1</td></a>
        <a><td> 2</td></a>
        <a><td> 3</td></a>
        <a><td> 4</td></a>
        <a><td> 5</td></a>
        <a><td> 6</td></a>
        <a><td> 7</td></a>
        <a><td> 8</td></a>
        <a><td> 9</td></a>
        <a><td> 10</td></a>
      </tr>
    </table>     
</body>
