  <div>
    <table class="table">
      <tbody>
        <tr>
          <td> </td>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
          <td>E</td>
          <td>F</td>
          <td>G</td>
          <td>H</td>
          <td>I</td>
        </tr>
        <tr>
          <td>1</td>
          <td> <a class="casilla" (click)="disparo('a',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',1)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',1)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>2</td>
          <td> <a class="casilla" (click)="disparo('a',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',2)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',2)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>3</td>
          <td> <a class="casilla" (click)="disparo('a',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',3)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',3)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>4</td>
          <td> <a class="casilla" (click)="disparo('a',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',4)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',4)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>5</td>
          <td> <a class="casilla" (click)="disparo('a',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',5)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',5)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>6</td>
          <td> <a class="casilla" (click)="disparo('a',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',6)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',6)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>7</td>
          <td> <a class="casilla" (click)="disparo('a',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',7)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',7)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>8</td>
          <td> <a class="casilla" (click)="disparo('a',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',8)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',8)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>9</td>
          <td> <a class="casilla" (click)="disparo('a',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',9)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',9)"><img src="img\casilla_.png"></a> </td>
        </tr>
        <tr>
          <td>10</td>
          <td> <a class="casilla" (click)="disparo('a',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('b',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('c',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('d',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('e',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('f',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('g',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('h',10)"><img src="img\casilla_.png"></a> </td>
          <td> <a class="casilla" (click)="disparo('i',10)"><img src="img\casilla_.png"></a> </td>
        </tr>
      </tbody>
    </table> 
  </div>
